body {
    background-color: gainsboro;
    position: relative;
}



.btn {
    background-color: #599bb3;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    padding: 12px 31px;
    text-decoration: none;
    margin-top: 20px;
}

    .btn:hover {
        background-color: #408c99;
    }

    .btn:active {
        position: relative;
        top: 1px;
    }

    hr {
        color: black;
    }

    .footer {
        position: fixed;
        margin-top: 450px;
        padding-bottom: 20px;
    }
    footer p {
        margin-bottom: 5px;
    }


.group {
    position: relative;
    margin-top: 30px;
    margin-bottom: 0px;
}

input {
    font-size: 18px;
    padding: 5px 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

    input:focus {
        outline: none;
    }

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}



.select-css {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 45%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
    for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
    
  */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
    /* Hide arrow icon in IE browsers */
    .select-css::-ms-expand {
        display: none;
    }
    /* Hover style */
    .select-css:hover {
        border-color: #888;
    }
    /* Focus style */
    .select-css:focus {
        border-color: #aaa;
        /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
    }

    /* Set options to normal weight */
    .select-css option {
        font-weight: normal;
    }

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

    .select-css:disabled:hover, .select-css[aria-disabled=true] {
        border-color: #aaa;
    }

.select-group {
    display: inline;
    align-items: center;
    text-align: center;
    align-content: space-between; 
    max-width: 100%;
    width: 60%;
    min-width: 40%;
}

.containerr {
    display: flex;
    margin-top: 7%;
    justify-content: center;
    align-content: center;
}
.rigth_container {
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    box-sizing: border-box;
}


.rigth_container-answers {
    display: flex;
    flex-direction: column;
}




rigth_container-date {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

p {
    cursor: pointer;
    position: relative;
    display: inline-block;
    font-size: 2.7rem;
    background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-repeat: no-repeat;
    transition: background 0.2s ease-out;
    white-space: nowrap;
}

.span {
    position: relative;
}

    .span:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        height: 5px;
        background: #599bb3;
        bottom: 1px;
        transition: all 0.2s ease-out;
    }

p:hover {
    background-position: 0 8px;
}

.span:hover:before {
    transform: translateY(8px)
}

.rigth_container-price {
    
}
.price_p {
    text-align: center;
    text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
    color: #333;
    opacity: 0.4;
    font: 600 18px 'Bitter';
}


@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

.amount_span {
    text-transform: Uppercase;
    margin-bottom: .5em;
    font-family: 'Rubik', sans-serif;
    font-size: 1.9rem;
    color: #F7971E;
}

.amount_span {
    position: relative;
    background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

    .amount_span:before,
    .amount_span:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
    }

    .amount_span:before {
        z-index: -1;
        text-shadow: -0.001em -0.001em 1px rgba(255,255,255,.15)
    }

    .amount_span:after {
        z-index: -2;
        text-shadow: 10px 10px 10px rgba(0,0,0,.5), 20px 20px 20px rgba(0,0,0,.4), 30px 30px 30px rgba(0,0,0,.1);
        mix-blend-mode: multiply;
    }


.popout {
    font-family: Futura, sans-serif;
    font-weight: 700;
    font-size: 26px;
    padding: 20px;
}

@keyframes ani {
    0% {
        transform: translate3d(0, 0, 0);
        text-shadow: 0em 0em 0 lightblue;
        color: black;
    }

    30% {
        transform: translate3d(0, 0, 0);
        text-shadow: 0em 0em 0 lightblue;
        color: black;
    }

    70% {
        transform: translate3d(0.08em, -0.08em, 0);
        text-shadow: -0.08em 0.08em lightblue;
        color: black;
    }

    100% {
        transform: translate3d(0.08em, -0.08em, 0);
        text-shadow: -0.08em 0.08em lightblue;
        color: black;
    }
}

.popout span {
    position: relative;
    display: inline-block;
    animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}

    .popout span:nth-last-child(1n) {
        animation-delay: -0.1666666667s;
    }

    .popout span:nth-last-child(2n) {
        animation-delay: -0.3333333333s;
    }

    .popout span:nth-last-child(3n) {
        animation-delay: -0.5s;
    }





 
